# Dependencies
node_modules/
.pnp/
.pnp.*
.yarn/*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Next.js & Build outputs
.next/
out/
build/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
.env
.env*.local

# System & IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/
.vercel
